.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 46px;
  padding: 8px 16px;
  border-radius: 5px;

  font-family: var(--font-overline);
  font-size: var(--ol-lg);

  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  color: inherit;
}

/* DARK */

.button--blue.button--dark {
  background: var(--blue-400);
  color: var(--blue-50);
  border: none;
}

.button--olive.button--dark {
  background: var(--olive-400);
  color: var(--olive-50);
  border: none;
}


/* DARK HOVER */

.button--blue.button--dark:hover {
  background: var(--blue-300);
}

.button--olive.button--dark:hover {
  background: var(--olive-300);
}


/* DARK ACTIVE */

.button--blue.button--dark:active {
  background: var(--blue-300);
  border: 2px solid var(--blue-50);
}

.button--olive.button--dark:active {
  background: var(--olive-300);
  border: 2px solid var(--olive-50);
}



/* LIGHT */

.button--blue.button--light {
  background: var(--blue-50);
  color: var(--blue-200);
  border: 1px solid var(--blue-300);
}

.button--olive.button--light {
  background: var(--olive-50);
  color: var(--olive-200);
  border: 1px solid var(--olive-300);
}


/* LIGHT HOVER */

.button--blue.button--light:hover {
  background: var(--blue-75);
  color: var(--blue-300);
  border: none;
}

.button--olive.button--light:hover {
  background: var(--olive-75);
  color: var(--olive-300);
  border: none;
}


/* LIGHT ACTIVE */

.button--blue.button--light:active {
  background: var(--blue-75);
  color: var(--blue-400);
  border: 1px solid var(--blue-400);
}

.button--olive.button--light:active {
  background: var(--olive-75);
  color: var(--olive-400);
  border: 1px solid var(--olive-400);
}