.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;
  background: var(--blue-50);
}

.navbar__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */

.navbar__logo {
  width: 48px;
  height: 48px;
}

/* WRAPPER LINKS */

.navbar__links {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* ICONO MENU */

.navbar__menu img {
  width: 28px;
  height: auto;
}


.navbar__links a {
  font-family: var(--font-body);
  font-size: var(--body-md);
  color: var(--olive-300);
  text-decoration: none;
  font-weight: 500;
  
}

.navbar__links a:hover {
  color: var(--olive-400);
  text-decoration: underline;
  transition: all 0.2s ease;
}

.navbar__links a.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* MOBILE */

.navbar__menu {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar__mobile {
  display: none;
}

/* TABLET */

@media (max-width: 1024px) {
  .navbar__container {
    padding: 0 24px;
  }
}

/* MOBILE */

@media (max-width: 640px) {
  .navbar__links {
    display: none;
  }

  .navbar__menu {
    display: block;
  }

  .navbar__mobile {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 12px;
    background: var(--blue-50);
  }

  .navbar__mobile a {
    font-family: var(--font-body);
    color: var(--olive-300);
    text-decoration: none;
  }
}